Repository blitzy-public-samples/Thursday-demo-kaa7iw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @auth-team, @data-team, @backend-team, @dba-team, @api-team, @devops-team, @platform-team, @ci-team, @sre-team, @performance-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all listed teams exist in the GitHub organization
# 2. Verify team members have appropriate access levels in GitHub
# 3. Configure branch protection rules to enforce code owner reviews
# 4. Enable "Require review from Code Owners" in repository settings
# 5. Configure "Dismiss stale pull request approvals" in branch protection
# 6. Set up automated reviewer assignment in repository settings

# Default ownership - Requirement: Security Compliance - Default access control
*                                   @project-leads

# Authentication service - Requirement: Data Security - High sensitivity data handling
src/backend/app/services/auth_service.py    @security-team @auth-team

# Data models - Requirement: Data Security - Data classification controls
src/backend/app/models/*             @data-team @backend-team

# Database layer - Requirement: Access Control - Database security patterns
src/backend/app/database/*           @data-team @dba-team

# API endpoints - Requirement: Security Compliance - API access control
src/backend/app/api/v1/*             @api-team @backend-team

# Security middleware - Requirement: Security Compliance - Security controls
src/backend/app/middleware/*         @security-team @backend-team

# Infrastructure as Code - Requirement: Security Compliance - Infrastructure security
infrastructure/terraform/*           @devops-team @security-team

# Kubernetes configurations - Requirement: Security Compliance - Container security
infrastructure/kubernetes/*          @devops-team @platform-team

# CI/CD workflows - Requirement: Security Compliance - Pipeline security
.github/workflows/*                  @devops-team @ci-team

# Monitoring configurations - Requirement: Security Compliance - Security monitoring
src/backend/app/monitoring/*         @sre-team @platform-team

# Logging configurations - Requirement: Data Security - Audit logging
src/backend/app/logging/*            @sre-team @platform-team

# Caching layer - Requirement: Data Security - Data access patterns
src/backend/app/cache/*              @backend-team @performance-team

Add public-samples/Thursday-demo-kaa7iw/infrastructure/terraform/gcp/modules/redis/outputs.tf
  infrastructure/terraform/gcp/modules/redis/outputs.tf
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/infrastructure/terraform/gcp/modules/redis/variables.tf
  infrastructure/terraform/gcp/modules/redis/variables.tf
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/.env.example
  src/backend/.env.example
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/.flaskenv
  src/backend/.flaskenv
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/README.md
  src/backend/README.md
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/config.py
  src/backend/config.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/wsgi.py
  src/backend/wsgi.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/__init__.py
  src/backend/app/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/extensions.py
  src/backend/app/extensions.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/api/__init__.py
  src/backend/app/api/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/api/v1/__init__.py
  src/backend/app/api/v1/__init__.py
Owners: @api-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/api/v1/auth.py
  src/backend/app/api/v1/auth.py
Owners: @api-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/api/v1/bullet_items.py
  src/backend/app/api/v1/bullet_items.py
Owners: @api-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/api/v1/projects.py
  src/backend/app/api/v1/projects.py
Owners: @api-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/api/v1/specifications.py
  src/backend/app/api/v1/specifications.py
Owners: @api-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/cache/__init__.py
  src/backend/app/cache/__init__.py
Owners: @backend-team, @performance-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/cache/keys.py
  src/backend/app/cache/keys.py
Owners: @backend-team, @performance-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/cache/redis.py
  src/backend/app/cache/redis.py
Owners: @backend-team, @performance-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/__init__.py
  src/backend/app/database/__init__.py
Owners: @data-team, @dba-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/operations.py
  src/backend/app/database/operations.py
Owners: @data-team, @dba-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/session.py
  src/backend/app/database/session.py
Owners: @data-team, @dba-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/migrations/__init__.py
  src/backend/app/database/migrations/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/migrations/env.py
  src/backend/app/database/migrations/env.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/migrations/script.py.mako
  src/backend/app/database/migrations/script.py.mako
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/migrations/versions/__init__.py
  src/backend/app/database/migrations/versions/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/database/migrations/versions/initial_schema.py
  src/backend/app/database/migrations/versions/initial_schema.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/logging/__init__.py
  src/backend/app/logging/__init__.py
Owners: @sre-team, @platform-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/logging/config.py
  src/backend/app/logging/config.py
Owners: @sre-team, @platform-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/logging/handlers.py
  src/backend/app/logging/handlers.py
Owners: @sre-team, @platform-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/middleware/__init__.py
  src/backend/app/middleware/__init__.py
Owners: @security-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/middleware/auth.py
  src/backend/app/middleware/auth.py
Owners: @security-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/middleware/error_handler.py
  src/backend/app/middleware/error_handler.py
Owners: @security-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/middleware/rate_limiter.py
  src/backend/app/middleware/rate_limiter.py
Owners: @security-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/middleware/request_validator.py
  src/backend/app/middleware/request_validator.py
Owners: @security-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/middleware/security_headers.py
  src/backend/app/middleware/security_headers.py
Owners: @security-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/models/__init__.py
  src/backend/app/models/__init__.py
Owners: @data-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/models/base.py
  src/backend/app/models/base.py
Owners: @data-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/models/bullet_item.py
  src/backend/app/models/bullet_item.py
Owners: @data-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/models/project.py
  src/backend/app/models/project.py
Owners: @data-team, @backend-team
