Repository blitzy-public-samples/Thursday-demo-kaa7iw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @auth-team, @data-team, @backend-team, @dba-team, @api-team, @devops-team, @platform-team, @ci-team, @sre-team, @performance-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all listed teams exist in the GitHub organization
# 2. Verify team members have appropriate access levels in GitHub
# 3. Configure branch protection rules to enforce code owner reviews
# 4. Enable "Require review from Code Owners" in repository settings
# 5. Configure "Dismiss stale pull request approvals" in branch protection
# 6. Set up automated reviewer assignment in repository settings

# Default ownership - Requirement: Security Compliance - Default access control
*                                   @project-leads

# Authentication service - Requirement: Data Security - High sensitivity data handling
src/backend/app/services/auth_service.py    @security-team @auth-team

# Data models - Requirement: Data Security - Data classification controls
src/backend/app/models/*             @data-team @backend-team

# Database layer - Requirement: Access Control - Database security patterns
src/backend/app/database/*           @data-team @dba-team

# API endpoints - Requirement: Security Compliance - API access control
src/backend/app/api/v1/*             @api-team @backend-team

# Security middleware - Requirement: Security Compliance - Security controls
src/backend/app/middleware/*         @security-team @backend-team

# Infrastructure as Code - Requirement: Security Compliance - Infrastructure security
infrastructure/terraform/*           @devops-team @security-team

# Kubernetes configurations - Requirement: Security Compliance - Container security
infrastructure/kubernetes/*          @devops-team @platform-team

# CI/CD workflows - Requirement: Security Compliance - Pipeline security
.github/workflows/*                  @devops-team @ci-team

# Monitoring configurations - Requirement: Security Compliance - Security monitoring
src/backend/app/monitoring/*         @sre-team @platform-team

# Logging configurations - Requirement: Data Security - Audit logging
src/backend/app/logging/*            @sre-team @platform-team

# Caching layer - Requirement: Data Security - Data access patterns
src/backend/app/cache/*              @backend-team @performance-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/models/specification.py
  src/backend/app/models/specification.py
Owners: @data-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/models/user.py
  src/backend/app/models/user.py
Owners: @data-team, @backend-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/monitoring/__init__.py
  src/backend/app/monitoring/__init__.py
Owners: @sre-team, @platform-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/monitoring/health.py
  src/backend/app/monitoring/health.py
Owners: @sre-team, @platform-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/monitoring/metrics.py
  src/backend/app/monitoring/metrics.py
Owners: @sre-team, @platform-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/schemas/__init__.py
  src/backend/app/schemas/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/schemas/auth.py
  src/backend/app/schemas/auth.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/schemas/bullet_item.py
  src/backend/app/schemas/bullet_item.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/schemas/project.py
  src/backend/app/schemas/project.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/schemas/specification.py
  src/backend/app/schemas/specification.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/schemas/user.py
  src/backend/app/schemas/user.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/services/__init__.py
  src/backend/app/services/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/services/auth_service.py
  src/backend/app/services/auth_service.py
Owners: @security-team, @auth-team

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/services/bullet_item_service.py
  src/backend/app/services/bullet_item_service.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/services/cache_service.py
  src/backend/app/services/cache_service.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/services/project_service.py
  src/backend/app/services/project_service.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/services/specification_service.py
  src/backend/app/services/specification_service.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/utils/__init__.py
  src/backend/app/utils/__init__.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/utils/constants.py
  src/backend/app/utils/constants.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/utils/exceptions.py
  src/backend/app/utils/exceptions.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/utils/helpers.py
  src/backend/app/utils/helpers.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/utils/security.py
  src/backend/app/utils/security.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/app/utils/validators.py
  src/backend/app/utils/validators.py
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/docker/.dockerignore
  src/backend/docker/.dockerignore
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/docker/Dockerfile
  src/backend/docker/Dockerfile
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/docker/docker-compose.yml
  src/backend/docker/docker-compose.yml
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/scripts/migrate.sh
  src/backend/scripts/migrate.sh
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/scripts/run.sh
  src/backend/scripts/run.sh
Owners: @project-leads

Add public-samples/Thursday-demo-kaa7iw/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @project-leads
